[
    {"default", [
        {width, 900},
        {height, 600},
        crop
    ]},
    {"avatar", [
        {width, 150},
        {height, 150},
        {crop, center},
        upscale
    ]},
    {"content-group-banner", [
        {width, 1024},
        {height, 75},
        {crop, center},
        {quality, 100},
        upscale
    ]},
    {"landscape-", [
        {width, 750}
    ]},
    {"landscape-large", [
        {width, 750}
    ]},
    {"landscape-medium", [
        {width, 500}
    ]},
    {"landscape-small", [
        {width, 250}
    ]},
    {"portrait-", [
        {height, 750}
    ]},
    {"portrait-large", [
        {height, 750}
    ]},
    {"portrait-medium", [
        {height, 500}
    ]},
    {"portrait-small", [
        {height, 250}
    ]},
    {"pager-thumbnail", [
        {width, 100},
        {height, 100},
        {crop, center},
        {quality, 100},
        upscale
    ]},
    {"list-image", [
        {width, 450},
        {height, 350},
        {crop, center},
        {quality, 100},
        {lossless, auto},
        upscale
    ]},
    {"media-thumb", [
        {width, 150},
        {height, 150},
        {crop, center},
        upscale
    ]},
    {"list-image-member", [
        {width, 70},
        {height, 70},
        {crop, center},
        {quality, 80},
        upscale
    ]},
    {"masthead", [
        {width, 1600},
        {height, 900},
        {lossless, auto},
        upscale
    ]},
    {"facebook-og", [
        {width, 450},
        {height, 350},
        upscale,
        {quality, 80},
        {crop, center}
    ]}
].
