[{zotonic, [
    {dbhost, "postgres"},
    {elasticsearch_host, <<"elasticsearch">>},
    {password, ""},
    {user_modules_dir, "/opt/ginger/modules"},
    {user_sites_dir, "/opt/ginger/sites"},
    {deps, [
        {erlastic_search, ".*", {git, "https://github.com/tsloughter/erlastic_search.git", "6478cc5d915413a7162515a19fa705296c605823"}},
        {geodata2, ".*", {git, "https://github.com/brigadier/geodata2.git", "1a4da299683691d6de19b9f261f53b5ea6e10407"}},
        {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.6.1"}}}
    ]}
]}].
