[submodule "modules/mod_ginger_admin"]
	path = modules/mod_ginger_admin
	url = git@gitlab.driebit.nl:driebit/mod_ginger_admin.git
[submodule "modules/mod_ginger_map"]
	path = modules/mod_ginger_map
	url = git@gitlab.driebit.nl:driebit/mod_ginger_map.git
[submodule "modules/mod_ginger_search"]
	path = modules/mod_ginger_search
	url = git@gitlab.driebit.nl:driebit/mod_ginger_search.git
[submodule "modules/mod_geo"]
	path = modules/mod_geo
 	url = https://github.com/arjan/mod_geo.git
[submodule "modules/mod_ginger_site"]
	path = modules/mod_ginger_site
	url = git@gitlab.driebit.nl:driebit/mod_ginger_site.git
[submodule "modules/mod_ginger_oai_pmh"]
	path = modules/mod_ginger_oai_pmh
	url = git@github.com:driebit/mod_ginger_oai_pmh.git
[submodule "modules/mod_ginger_xml"]
	path = modules/mod_ginger_xml
	url = https://github.com/driebit/mod_ginger_xml.git
[submodule "modules/mod_ginger_opensearch"]
	path = modules/mod_ginger_opensearch
	url = https://github.com/driebit/mod_ginger_opensearch.git
[submodule "modules/mod_ginger_rdf"]
	path = modules/mod_ginger_rdf
	url = https://github.com/driebit/mod_ginger_rdf.git
[submodule "modules/mod_ginger_foundation"]
	path = modules/mod_ginger_foundation
	url = git@gitlab.driebit.nl:driebit/mod_ginger_foundation.git
