[submodule "modules/mod_ginger_admin"]
	path = modules/mod_ginger_admin
	url = git@gitlab.driebit.nl:driebit/mod_ginger_admin.git
[submodule "modules/mod_ginger_map"]
	path = modules/mod_ginger_map
	url = git@gitlab.driebit.nl:driebit/mod_ginger_map.git
[submodule "modules/mod_ginger_search"]
	path = modules/mod_ginger_search
	url = git@gitlab.driebit.nl:driebit/mod_ginger_search.git
[submodule "modules/mod_geo"]
	path = modules/mod_geo
 	url = https://github.com/arjan/mod_geo.git
[submodule "modules/mod_ginger_site"]
	path = modules/mod_ginger_site
	url = git@gitlab.driebit.nl:driebit/mod_ginger_site.git
[submodule "modules/mod_ginger_oai_pmh"]
	path = modules/mod_ginger_oai_pmh
	url = git@github.com:driebit/mod_ginger_oai_pmh.git
