.DS_Store
.vagrant
data/*
!data/.gitkeep
sites/*
!sites/.gitkeep
modules/*
!modules/mod_ginger*
modules/*/translations/template
tests/node_modules
tests/reports
tests/screenshots
*.mo
*.pot
.idea
.vscode
*.po~
/api.html
/docs/rest-api.json
/docs/public
/docs/Makefile
/node_modules
