.DS_Store
.vagrant
sites/*
modules/mod_alternative_uris
modules/mod_am_default
modules/mod_filmfonds_allotment
modules/mod_geo
modules/mod_ginger_auth/templates/_logon_box.tpl
modules/mod_import_anymeta/
modules/mod_import_anymeta_dispatch
modules/mod_import_utils/
modules/mod_springy_graph/
*.pot
