[{"avatar",
  [
   {width, 200},
   {height, 200},
   {quality, 93},
   {post_magick, "-interlace Plane"},
   crop
  ]},
 {"opengraph",
  [
   {width, 450},
   {height, 450},
   {quality, 90},
   {post_magick, "-interlace Plane"},
   crop
  ]},
 {"small",
  [
   {width, 600},
   {height, 408},
   {quality, 93},
   {post_magick, "-interlace Plane"},
   upscale,
   crop
  ]},
 {"small-preserve-aspect-ratio",
  [
   {width, 420},
   {quality, 93},
   {post_magick, "-interlace Plane"}
  ]},
 {"medium",
  [
   {width, 1200},
   {height, 572},
   {quality, 93},
   {post_magick, "-interlace Plane"},
   upscale,
   crop
  ]},
 {"medium-preserve-aspect-ratio",
  [
   {width, 700},
   {quality, 93},
   {post_magick, "-interlace Plane"}
  ]},
 {"large",
  [
   {width, 1920},
   {quality, 93},
   {post_magick, "-interlace Plane"}
  ]},
 {"cinemascope",
  [
   {width, 1920},
   {height, 817},
   {quality, 93},
   {post_magick, "-interlace Plane"},
   crop,
   upscale
  ]}
].
