[
    {elvis, [
        {config, [
            #{
                dirs => [".", "*"],
                filter => ["*.erl"],
                rules => [
                    {elvis_style, variable_naming_convention, #{regex => "^(_[A-Z])|([A-Z][0-9a-zA-Z]*)$"}}
                ],
                ruleset => erl_files
            }
        ]}
    ]}
].
