[{zotonic,
    [
        {user_sites_dir, "../ginger/sites"},
        {user_modules_dir, "../ginger/modules"},
        {password, ""},
        {deps, [
            {erlastic_search, ".*", {git, "https://github.com/tsloughter/erlastic_search.git", "8482766d479a0d41b3e7d1e754e096293fa30955"}},
            {geodata2, ".*", {git, "https://github.com/brigadier/geodata2.git", "1a4da299683691d6de19b9f261f53b5ea6e10407"}},
            {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.14.3"}}},
            {hamcrest, ".*", {git, "https://github.com/truqu/hamcrest-erlang", "e413409e9424751865bd58d65c49fa6659d94d2d"}},
            {lager_logstash, "", {git, "https://github.com/rpt/lager_logstash.git", {tag, "0.1.3"}}},
            {tql, ".*", {git, "https://github.com/driebit/tql", {tag, "1.2.1"}}}
        ]}
    ]
}].
