[
    {"default", [
        {width, 900},
        {height, 600},
        crop,
        upscale
    ]},
    {"object-nocrop", [
        {width, 900},
        upscale
    ]},
    {"list-image", [
        {width, 450},
        {height, 300},
        {crop, center},
        upscale
    ]},
    {"thumbnail", [
        {width, 200},
        {height, 200},
        crop,
        upscale
    ]},
    {"facebook-og", [
        {width, 500},
        {height, 300},
        upscale,
        {quality, 80},
        {crop, center}
    ]},
    {"comment-avatar", [
        {width, 50},
        {height, 50},
        crop,
        upscale
    ]}
].