[
    {"img-related", [
        {width, 768},
        {height, 600},
        {crop, center},
        upscale
    ]},
    {"img-content", [
        {width, 600},
        {height, 300},
        {crop, center},
        upscale
    ]},
    {"img-header", [
        {width, 1500},
        {height, 600},
        {crop, center},
        upscale
    ]},
    {"img-avatar", [
        {width, 160},
        {height, 160},
        {crop, center},
        upscale
    ]}
].
