[
    {"default", [
        {width, 900},
        {height, 600},
        crop,
        upscale
    ]},
    {"list-image", [
        {width, 450},
        {height, 300},
        {crop, center},
        upscale
    ]},
    {"thumbnail", [
        {width, 200},
        {height, 200},
        crop,
        upscale
    ]}

].
