[
    {"default", [
        {width, 900},
        {height, 600},
        crop,
        upscale
    ]},
    {"avatar", [
        {width, 25},
        {height, 25},
        {crop, center},
        upscale
    ]},
    {"content-group-banner", [
        {width, 1024},
        {height, 75},
        {crop, center},
        {quality, 100},
        upscale
    ]},
    {"article-depiction-width", [
        {width, 750}
    ]},
    {"article-depiction-height", [
        {height, 750}
    ]}
    
].